@import "tailwindcss";

:root {
  --bg: #0b0d10;
  --fg: #e6e6e6;
  --accent: #7c7cff;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}
